<%- include ('../partials/head') %>
<%- include ('../partials/menu', {active: 'createnote'}) %>
<link rel="stylesheet" href="styles/createnote.css">
<main>
  <div class="container">
    <body>
      <br>
      <%# Journal Selection Dropdown and Title Entry%>
      <br>
      <div class="journal-title">
        <select id="journal-select">
          <option href="#" journal-id="None" journal-title="None">Select Journal</option>
          <% for (var i = 0; i < journals.length; i++) { %>
            <option href="#" journal-id="<%= journals[i].journal_id %>" journal-title="<%= journals[i].journal_title %>"><%= journals[i].journal_title %></option>
          <% } %>
        </select><input id="note-title" type="text" class="char-limited" aria-label="Text input with dropdown button" placeholder="Title" maxlength="100">
        <p class="chars"><span class="char-count">0/100</span></p>
      </div>

      <!-- <div class="input-group"> 
          <select id="journal-select">
            <option class="dropdown-item" href="#" journal-id="None" journal-title="None">Select Journal</option>
            <% for (var i = 0; i < journals.length; i++) { %>
              <option class="dropdown-item" href="#" journal-id="<%= journals[i].journal_id %>" journal-title="<%= journals[i].journal_title %>"><%= journals[i].journal_title %></option>
            <% } %>
          </select>
        <input id="note-title" type="text" class="char-limited" aria-label="Text input with dropdown button" placeholder="Enter Title" maxlength="100">
        <p class="chars"><span class="char-count">0/100</span></p>
      </div> -->
      <br>
      <br>
      <%# Note Entry %>
      <div>
        <textarea id="note-text" class="note-input" aria-label="With textarea" placeholder="Note"></textarea>
      </div>
      <br>
      <%# Save Button %>
      <div class="save">
        <button id="save-note" class="button">Save Note</button>
      </div>

      <script>
        var saveNoteButton = document.querySelector('#save-note'); 
        saveNoteButton.addEventListener('click', function() { //on click of Save Note
          saveNoteButton.disabled = true;
          var title = document.querySelector('#note-title').value.trim(); //gets title
          var content = document.querySelector('#note-text').value.trim(); //gets text
          var select = document.getElementById("journal-select");
          var value = select.options[select.selectedIndex].getAttribute("journal-id");
          if (value == "None") //if no journal is selected
          {
            fetch('/savenote', { //calls /savenote and passes note info
            method: 'POST',
            headers: {
              'Content-Type': 'application/json' //data in json form so it can be parsed by API call
            },
            body: JSON.stringify({ //converts data to json strings
              title: title,
              rawText: content,
              journalId: undefined
            })
          })
          .then(function(response) {
            if (response.ok) {
              console.log(response)
              // display a success message to the user
              alert('Note saved successfully');
              window.location.href = '/home'; //redirect to the updated note
            } else {
              throw new Error('An error occurred while saving the note');
            }
          })
          .then(function(data) {
            console.log(data);
          })
          .catch(function(err) {
            console.error(err);
            alert(err.message);
          });
          }
          else{
            fetch('/savenote', { //calls /savenote and passes note info
            method: 'POST',
            headers: {
              'Content-Type': 'application/json' //data in json form so it can be parsed by API call
            },
            body: JSON.stringify({ //converts data to json strings
              title: title,
              rawText: content,
              journalId: value
            })
          })
          .then(function(response) {
            if (response.ok) {
             // display a success message to the user
              alert('Note saved successfully');
             window.location.href = '/home'; //redirect to the updated note
            } else {
              throw new Error('An error occurred while saving the note');
            }
          })
          .then(function(data) {
            console.log(data);
          })
          .catch(function(err) {
            console.error(err);
            alert(err.message);
          });
        }
        });

        //character counter
        const inputs = document.querySelectorAll('.char-limited');
        inputs.forEach(input => {
          const charCount = input.nextElementSibling.querySelector('.char-count');
          input.addEventListener('input', () => {
            const count = input.value.length;
            const max = input.maxLength;
            charCount.innerText = `${count}/${max}`;
          });
        });

      </script>
    </body>
  </div>
</main>



<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>