<%- include ('../partials/head') %>
<%- include ('../partials/menu', {active: 'createnote'}) %>
<link rel="stylesheet" href="styles/createnote.css">
<main>
	<br>
  <div class="container">
        <form action="/updatenote" method="post"> <!-- calls /updatenote -->
        <% results.forEach(function(entry) { %>
			<div class="journal-title"> 
			<% if (entry.journal_title == null) { %>
				<select id="journal-select" name="journal_title">
					<option class="dropdown-item" href="#" journal-id="None" journal-title="None">No Journal</option>
					<% for (var i = 0; i < journals.length; i++) { %>
					  <option class="dropdown-item" href="#" journal-id="<%= journals[i].journal_id %>" journal-title="<%= journals[i].journal_title %>"><%= journals[i].journal_title %></option>
					<% } %>
				  </select><input name="title" id="note-title" type="text" class="char-limited" aria-label="Text input with dropdown button" value="<%= entry.entry_title %>" maxlength="100">
			  <% } else { %>
				<select id="journal-select" name="journal_title">
					<option class="dropdown-item" href="#" journal-id="entry.journal_id" journal-title="<%= entry.journal_title %>"><%= entry.journal_title %></option>
					<option class="dropdown-item" href="#" journal-id="None" journal-title="None">No Journal</option>
					<% for (var i = 0; i < journals.length; i++) { %>
					  <option class="dropdown-item" href="#" journal-id="<%= journals[i].journal_id %>" journal-title="<%= journals[i].journal_title %>"><%= journals[i].journal_title %></option>
					<% } %>
				  </select><input name="title" id="note-title" type="text" class=" char-limited" aria-label="Text input with dropdown button" value="<%= entry.entry_title %>" maxlength="100">
			  <% } %>
				<p class="chars"><span class="char-count">0/100</span></p>
				</div>
				<br>
				<div>
				<textarea class="note-input" name="text" id="text" style="height:40vh"><%= entry.raw_text %></textarea> <!-- text edit area-->
				<!-- <p><span class="char-count">0/2000</span></p> -->
				</div>
				<br>
				<a class="button cancel" style="margin-right: 30px" href="/home">Cancel</a>
				<button type="submit" style="margin-right: 30px;" class="button">Save</button>
				<input type="hidden" name="id" value="<%= entry.entry_id %>"> <!--  pass entry ID as hidden -->
		</form>
        <% }) %>
	<script>
		//character counter
		const inputs = document.querySelectorAll('.char-limited');
		inputs.forEach(input => {
			const charCount = input.nextElementSibling.querySelector('.char-count');
			input.addEventListener('input', () => {
			const count = input.value.length;
			const max = input.maxLength;
			charCount.innerText = `${count}/${max}`;
			});
		});
	</script>
  </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>