<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <br>
    <h1>All Notes</h1>
    <br>
	    <div class="row row-cols-3 row-cols-md-3 g-4">
        <% entries.forEach(function(entry) { %>
		      <div class="col">
            <div class="card" style="width: 18rem;">
			        <div class="card-body">
				        <h5 class="card-title"><%= entry.entry_title %></h5>
				        <p class="card-text"><%= entry.raw_text %></p>
                <p class="card-text"><%= entry.date %></p>
                <p class="card-text"><%= entry.time %></p>
                <form action="/opennote">
                  <input type="hidden" name="entry-id" value=<%= entry.entry_id %>>
                  <button type="submit" class="btn btn-primary">Open Note</button>
                </form>
			      </div>
		      </div>
		    </div>
        <% }) %>       
  </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>