<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <br>
    <h1>Home</h1>
    <br>
	    <div class="row row-cols-3 row-cols-md-3 g-4">
        <% entries.forEach(function(entry) { %>
		      <div class="col">
            <div class="card" style="width: 18rem;">
			        <div class="card-body">
				        <h5 class="card-title"><%= entry.entry_title %></h5>
				        <p class="card-text"><%= entry.raw_text %></p>
				        <a href="/opennote?id=<%= entry.entry_id %>" class="btn btn-primary btn-sm">Open</a>
                <a href="/edit?id=<%= entry.entry_id %>" class="btn btn-primary btn-sm">Edit</a>
			      </div>
		      </div>
		    </div>
        <% }) %>       
  </div>
</main>


<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>







