<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <br>
        <h1>Journals</h1>
        <br>

        <form action="/createnewjournal">
          <button type="submit" class="btn btn-primary">Create New Journal</button>
      </form>
      
        <br>
        <div class="row">
          <% var card = '<div class="col-md-4"><div class="card" style="width: 18rem;">' +
            '<div class="card-body"><h5 class="card-title">All Journal Entries</h5>' +
            '<form action="/home"><button type="submit" class="btn btn-primary">Open Journal</button></form>' +
            '<p style="color:gray; font-size: 12px">All entries are within this journal</p></div></div>'; %>
            <%if(journals){
              journals.forEach(function(journal){
                card += '<div class="col-md-4"><div class="card" style="width: 18rem;">';
                card += '<div class="card-body"><h5 class="card-title">' + journal.journal_title;
                card += '<form action="/home">' +
                  '<button type="submit" class="btn btn-primary">Open Journal</button>' +
                  '</form>';
                card += '<p style="color:gray; font-size: 12px">' + journal.journal_description;
                card += '</p></div></div>';
              });
            }%>
            <%- card %>
          </div>
    </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>