<%- include ('../partials/head') %>
<%- include ('../partials/menu', {active: 'journal'}) %>
<link rel=stylesheet href="styles/allnotes.css"
<main>
    <div class="container">
        <div>
          
          <form action="/createnewjournal">
            <h1 class="heading main-text">Journals</h1><button type="submit" class="button" style="width: 180px; margin-left: 50px;">Create New Journal</button>
          </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <% if(journals) { %>
            <% journals.forEach(function (journal) { %>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="/images/<%=journal.color%>cover.png" class="card-img" />
                  <div class="card-body card-img-overlay text-center">
                    <br><br>
                    <form action="/openjournal">
                      <input type="hidden" name="journal-id" value=<%= journal.journal_id %>>
                      <button type="submit" class="btn btn-primary-outline stretched-link"><h5 class="card-title"><%= journal.journal_title %></h5></button>
                    </form>
                    <p style="color:gray; font-size: 12px"><%= journal.journal_description %></p>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>
        <br>
    </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>