<%- include ('../partials/head') %>
<%- include ('../partials/menu', {active: 'journal'}) %>

<main>  
  <div class="container">
        <br>
        <h1>Journals</h1>
        <br>

        <form action="/createnewjournal">
          <button type="submit" class="btn btn-primary">Create New Journal</button>
      </form>

        <br>
        <!--<div class="row" style="background-image: url('/images/shelf4.png'); background-size: contain;">-->

        <div class="row">
          <% if(journals) { %>
            <% journals.forEach(function (journal) { %>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="https://i.pinimg.com/originals/36/cf/33/36cf33fdb1dea05ecb998595aa64e893.png" class="card-img" />
                  <div class="card-body card-img-overlay text-center">
                    <br><br>
                    <form action="/openjournal">
                      <input type="hidden" name="journal-id" value=<%= journal.journal_id %>>
                      <button type="submit" class="btn btn-primary-outline stretched-link"><h5 class="card-title"><%= journal.journal_title %></h5></button>
                    </form>
                    <p style="color:gray; font-size: 12px"><%= journal.journal_description %></p>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          <% } %>
        </div>
    </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>