<%- include ('../partials/head') %>
<%- include ('../partials/menu', {active: 'notes'}) %>

<main>
  <div class="container">
    <br>
    <h1>All Notes</h1>
    <br>
	    <div class="row row-cols-3 row-cols-md-3 g-4">
        <% entries.forEach(function(entry) { %>
		      <div class="col">
            <div class="card h-100" >
			        <div class="card-body">
				        <form action="/opennote">
                  <input type="hidden" name="entry-id" value=<%= entry.entry_id %>>
                  <button type="submit" class="btn btn-primary-outline stretched-link"><h5 class="card-title"><%= entry.entry_title %></h5></button>
                </form>
				        <p class="card-text" style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= entry.raw_text %></p>
                <p class="card-text">Mood number: <%= entry.entry_mood %></p>
                <p class="card-text"><%= entry.date %></p>
                <p class="card-text"><%= entry.time %></p>
			      </div>
		      </div>
		    </div>
        <% }) %>       
  </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>