<%- include('../partials/head') %>
<%- include('../partials/menu') %>

<main>
    <div class="container">
      <br>
      <% if (entry) { %>
        <% entry.forEach(function (item) { %>
          <%# Journal Selection Dropdown and Title Entry (To-Do)%>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" placeholder="No Journal" readonly>Example Journal</button>
            <input id="filled-note-title" type="text" class="form-control" aria-label="Text input" placeholder="No Title" value="<%= item.entry_title %>" readonly>
          </div>
          <br>
          <%# Note Entry %>
          <div class="input-group">
            <textarea id="filled-note-text" class="form-control" aria-label="With textarea" style="height: 400px;" placeholder=" " readonly><%= item.raw_text %></textarea>
          </div>
  
          <!-- Button to delete an entry; pass the ID on the URL as a query parameter -->
          <a href="/deletenote?id=<%= item.entry_id %>" class="btn btn-danger btn-sm">Delete</a> 
          <!-- Button to edit an entry; pass the ID on the URL as a query parameter -->
          <a href="/edit?id=<%= item.entry_id %>" class="btn btn-primary btn-sm">Edit</a>
          </div>
        <% }) %>
      <% } %>
    </div>
  </main>
  

  <%- include('../partials/message') %>
  <%- include('../partials/footer') %>

