<%- include('../partials/head') %>
<%- include('../partials/menu', {active: 'createnote'}) %>
<link rel="stylesheet" href="styles/opennote.css">
<main>
  <br>
  <br>
  <div class="container">
    <% if (entry) { %>
      <% var entryId = entry.entry_id %> 
      <% entry.forEach(function (item) { %>
        <!-- Displays a journal selector drop-down based on the journal that has been selected
        or "No Journal" if no journal has been selected-->
        <div class="journal-title">
          <% if (item.journal_title == null) { %>
            <!-- <select id="journal-select-nojournal">
              <option href="#">No Journal</option>
            </select><input id="filled-note-title" type="text" aria-label="Text input" placeholder="No Title" value="<%= item.entry_title %>" readonly> -->
            <!-- <input id="journal" id="journal-select-nojournal"> -->
            <label for="filled-note-title">No Journal</label><input id="filled-note-title" type="text" aria-label="Text input" placeholder="No Title" value="<%= item.entry_title %>" readonly>
          <% } else { %>
            <!-- <select id="journal-select">
              <option href="#">No Journal</option>
            </select><input id="filled-note-title" type="text" aria-label="Text input" placeholder="No Title" value="<%= item.entry_title %>" readonly> -->
            <label for="filled-note-title"><%= item.journal_title %></label><input id="filled-note-title" type="text" aria-label="Text input" placeholder="No Title" value="<%= item.entry_title %>" readonly>
          <% } %>
        </div>
        <br>
        <br>
        <br>
        <!-- Displays note contents -->
        <div>
          <textarea id="filled-note-text" class="note-input" aria-label="With textarea" readonly><%= item.raw_text %></textarea>
        </div>
        <!-- Button that formats text and sends the entry_id -->
        <button class="btn btn-primary" onclick="formatNote('<%= item.entry_id %>')">Format</button>
        <!-- Button that summarizes text and sends the entry_id -->
        <button class="btn btn-primary" onclick="summarizeNote('<%= item.entry_id %>')">Summarize</button>
        <!-- Button to edit an entry; pass the ID on the URL as a query parameter -->
        <a href="/edit?id=<%= item.entry_id %>" class="btn btn-primary">Edit</a>
        

      <% }) %>
    <% } %>
  </div>
  <br/>
</main>

<%- include('../partials/message') %>
<%- include('../partials/footer') %>

<script>
  // Extracts content and entry_id, creates a data object, and then calls the /format endpoint
  function formatNote(entryId) {
    var content = document.querySelector('#filled-note-text').value.trim(); //extracts content
    // create a JSON object with the raw_text and entry_id values
    var data = {
      raw_text: content,
      entry_id: entryId
    };
  
    // make a POST request to /format and pass in the data as JSON
    fetch('/format', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(data => {
      // display a success message to the user
      alert('Note formatted successfully');
      window.location.href = '/opennote?entry-id=' + entryId; //redirect to the updated note
    })
    .catch(error => {
      console.error(error);
      // display an error message to the user
      alert('An error occurred while formatting the note');
    });
  }
</script>

<script>
  // Extracts content and entry_id, creates a data object, and then calls the /summarize endpoint
  function summarizeNote(entryId) {
    var content = document.querySelector('#filled-note-text').value.trim(); //extracts content
    // create a JSON object with the raw_text and entry_id values
    var data = {
      raw_text: content,
      entry_id: entryId
    };
  
    // make a POST request to /summarize and pass in the data as JSON
    fetch('/summarize', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(data => {
      // display a success message to the user
      alert('Note summarized successfully');
      window.location.href = '/opennote?entry-id=' + entryId; //redirect to the updated note
    })
    .catch(error => {
      console.error(error);
      // display an error message to the user
      alert('An error occurred while summarizing the note');
    });
  }
</script>
  
