<%- include('../partials/head') %>
<%- include('../partials/menu', {active: 'journal'}) %>
<link rel="stylesheet" href="styles/allnotes.css">
<main>
    <div class="container">
        <br>
        <h1><%= journal.journal_title %>  
        <!-- Button to delete an entry; pass the ID on the URL as a query parameter -->
        <a href="/deletejournal?id=<%= journal.journal_id %>" class="bi"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg></a> 
        <!-- Button to edit an entry; pass the ID on the URL as a query parameter -->
        <a href="/editjournal?id=<%= journal.journal_id %>" class="bi"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></a></h1> 
        <br/><br/><br/>

        <div class="row row-cols-3 row-cols-md-3 g-4">
          <% entries.forEach(function(entry) { %>
            <div class="col">
              <div class="card h-100" >
                <div class="card-body">
                  <form action="/opennote">
                    <input type="hidden" name="entry-id" value=<%= entry.entry_id %>>
                    <button type="submit" class="btn btn-primary-outline stretched-link"><h5 class="card-title"><%= entry.entry_title %></h5></button>
                    <% if (entry.entry_mood) { %>
                      <!-- <p class="card-text">Mood number: <%= entry.entry_mood %></p> -->
                        <% if (entry.entry_mood == 1) { %>
                          <img src="images/1.svg" width="40" style="float:right;">
                        <% } else if (entry.entry_mood == 2) { %>
                          <img src="images/2.svg" width="40" style="float:right;">
                        <% } else if (entry.entry_mood == 3) { %>
                          <img src="images/3.svg" width="40" style="float:right;">
                        <% } else if (entry.entry_mood == 4) { %>
                          <img src="images/4.svg" width="40" style="float:right;">
                        %> } else if (entry.entry_mood == 5) { %>
                          <img src="images/5.svg" width="40" style="float:right;">
                        <% } %>
                    <% } %>
                  </form>
                  <p class="card-text" style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= entry.raw_text %></p>

                  <p class="card-text"><%= entry.date %></p>
                  <p class="card-text"><%= entry.time %></p>
              </div>
            </div>
          </div>
          <% }) %>       
    </div>  
    <br/>  
</main>
  

  <%- include('../partials/message') %>
  <%- include('../partials/footer') %>

