<%- include('../partials/head') %>
<%- include('../partials/menu') %>

<main>
  <br>
  <div class="container">
    <% if (entry) { %>
      <% entry.forEach(function (item) { %>
        <%# Journal Selection Dropdown and Title Entry%>
        <div class="input-group mb-3"> 
        <% if (item.journal_title == null) { %>
            <select id="journal-select-nojournal">
                <option class="dropdown-item" href="#">No Journal</option>
            </select>
        <% } else { %>
            <select id="journal-select">
                <option class="dropdown-item" href="#"><%= item.journal_title %></option>
            </select>
        <% } %>

          <input id="filled-note-title" type="text" class="form-control" aria-label="Text input" placeholder="No Title" value="<%= item.entry_title %>" readonly>
        </div>
        <br>
        <%# Note Entry %>
        <div class="input-group">
          <textarea id="filled-note-text" class="form-control" aria-label="With textarea" style="height: 400px;" readonly><%= item.raw_text %></textarea>
        </div>
        <%# Format Button: Passes in entry_id %>
        <button class="btn btn-primary" onclick="formatNote('<%= item.entry_id %>')">Format Note</button>
        <!-- Button to edit an entry; pass the ID on the URL as a query parameter -->
        <a href="/edit?id=<%= item.entry_id %>" class="btn btn-primary btn-sm">Edit</a>
        <!-- Button to delete an entry; pass the ID on the URL as a query parameter -->
        <a href="/deletenote?id=<%= item.entry_id %>" class="btn btn-danger btn-sm">Delete<a> 
      <% }) %>
    <% } %>
  </div>
</main>

<%- include('../partials/message') %>
<%- include('../partials/footer') %>

<script>
function formatNote(entryId) {
  var content = document.querySelector('#filled-note-text').value.trim(); //gets raw_text
  console.log('Content:', content);
  console.log('Entry ID:', entryId);
}
</script>
