<%- include('../partials/head') %>
<%- include('../partials/menu') %>

<main>
    <div class="container">
        <br>
        <!-- Journal title and controls to delete or edit journal -->
        <h1><%= journal.journal_title %>   
        <!-- Button to delete an entry; pass the ID on the URL as a query parameter -->
        <a href="/deletejournal?id=<%= journal.journal_id %>" class="bi">
          <img src="images/trash.svg" alt="delete journal" width="16" height="16"></a> 
        <!-- Button to edit an entry; pass the ID on the URL as a query parameter -->
        <a href="/editjournal?id=<%= journal.journal_id %>" class="bi">
          <img src="images/pencil.svg" alt="edit journal" width="16" height="16">
        </a>
        </h1>
        <br/><br/><br/>

        <!-- Display this journal's entries-->
        <div class="row row-cols-3 row-cols-md-3 g-4">
          <% if (entries) { %>
            <% entries.forEach(function (entry) { %>
              <div class="col-md-4">
                <div class="card h-100" >
                  <div class="card-body">
                    <h5 class="card-title"><%= entry.entry_title %></h5>
                    <!-- show only first part of note text, use "Open Note" to see whole note -->
                    <p class="card-text" style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      <%= entry.raw_text %>
                    </p>
                    <form action="/opennote">
                      <input type="hidden" name="entry-id" value=<%= entry.entry_id %>>
                      <button type="submit" class="btn btn-primary">Open Note</button>
                    </form>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>
    </div>    
</main>
  

  <%- include('../partials/message') %>
  <%- include('../partials/footer') %>

