<!-- <header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <form action="/createnewnote">
              <button type="submit" class="btn btn-primary">+ New Note</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">All Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/journal">Journals</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/mood">Mood</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">Calendar</a>
          </li>
        </ul>
        <div class="dropdown nav-item me-1">
          <button class="btn btn-primary dropdown-toggle btn-secondary" type="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Account
          <span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" href="/profile">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</header> -->

<link rel="stylesheet" href="styles/menu.css">
<header>
  <nav class="navbar navbar-expand-lg bg-light;" id="navbar">
    <div class="container-fluid nav">
      <a class="navbar-brand <%= active === 'createnote' ? 'active' : '' %>" href="/createnewnote">
        <img src="/images/quill-white.svg" alt="logo" class="d-inline-block align-text-top logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link all-buttons <%= active === 'home' ? 'active' : '' %>" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link all-buttons <%= active === 'journal' ? 'active' : '' %>" href="/journal">Bookshelf</a>
            </li>                  
            <li class="nav-item">
              <a class="nav-link all-buttons <%= active === 'notes' ? 'active' : '' %>" href="/notes">All Notes</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link all-buttons" href="/calendar">Calendar</a>
            </li> -->
        </ul>
      </div>
      <a class="order-md-last <%= active === 'profile' ? 'active' : '' %>" href="/profile">
        <img src="/images/profile.svg" class="profile" alt="Profile">
      </a>
      <!-- <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/images/profile.svg" class="profile" alt="SVG image">
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" href="/profile">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="/logout">Logout</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
</header>